<div layout="row" layout-align="center" layout-margin>
    <md-button class="md-fab md-primary" type="button" aria-label="Log in com Qr-Code" ng-click="openQrl($event)">
        <md-icon md-svg-src="../../assets/images/svg/qr-code.svg"></md-icon>
    </md-button>
</div>

<md-input-container class="md-block" flex-gt-sm>
    <label>Allergy</label>
    <input ng-model="allergy">
</md-input-container>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary" ng-click="add()">Add Allergy</md-button>
</section>

<md-input-container class="md-block" flex-gt-sm>
    <label>Pre-existing condition</label>
    <input ng-model="problem">
</md-input-container>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary" ng-click="addProblem()">Add Pre-existing condition</md-button>
</section>

<input>
<md-button class="md-raised md-primary" ng-click="captureImages()">captures</md-button>
</input>